
<%= form_tag recipes_path, method: :get, class: "inline-form" do %>
  <p>
    <%= label_tag :search, "Search Recipes:" %>
    <%= search_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>


<% @recipes.each do |recipe| %>
  <section class="recipe">
    <div class="summary">
      <h2>
        <%= link_to recipe.name, recipe.raw_recipe %>
      </h2>
      <h3>
        <%= recipe.cuisine %>
      </h3>
    </div>
  </section>
<% end %>

<section class="admin">
  <h2>
    <%= link_to "Add New Recipe", new_recipe_path, class: "button"%>
  </h2>
</section>