<section class="recipe-details">
  <div class="details">
    <h1><%= @recipe.name %></h1>
    <ul>
      <%= "Cuisine: " + @recipe.cuisine %>
      <p>
      <%= @recipe.dietary_preference %>
      </p>
      <p>
      <%= @recipe.servings %>
      </p>
    </ul>
    <h2>Ingredients</h2>
      <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <%= ingredient.description %>
        </li>
      <% end %>
      </ul>
      <h2>Instructions</h2>
        <table>
          <% @recipe.instructions.each_with_index do |ingredient, index|%>
            <tr>
              <th><%= "#{index + 1})" %></th>
              <td><%= ingredient.description %></td>
            </tr>
          <% end %>
        </table>  
</div>
