<h1><%= @recipe.name %></h1>

<ul>
  <%= "Origin: " + @recipe.cuisine %>
  <p>
  <%= @recipe.dietary_preference %>
  </p>
</ul>

<h2>Ingredients</h2>
<p>
  <ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.description %>
    </li>
  <% end %>
  </ul>
</p>

<p>
  <h2>Instructions</h2>
  <ul>
  <% @recipe.instructions.each do |instruction| %>
    <li>
      <%= instruction.description %>
    </li>
  <% end %>
  </ul>
</p>
